<p><%= link_to 'Back to Pokémon', pokemons_path %></p>
<h1><%= @pokemon.name %></h1>
<p>Attack: <%= @pokemon.attack %></p>
<p>Hp: <%= @pokemon.hp %></p>
<p>Defense: <%= @pokemon.defense %></p>
<p>Sp_attack: <%= @pokemon.sp_attack %></p>
<p>Sp_defense: <%= @pokemon.sp_defense %></p>
<p>Speed: <%= @pokemon.speed %></p>
<% if @pokemon.type_two.present? %>
  <p>Type: <%= @pokemon.type_one %> / <%= @pokemon.type_two %></p>
<% else %>
  <p>Type: <%= @pokemon.type_one %></p>
<% end %>

<h2>Trainers Who Own a <%= @pokemon.name %>:</h2>
<ul>
  <% @pokemon.trainers.each do |trainer| %>
    <li><%= link_to trainer.name, trainer_path(trainer) %></li>
  <% end %>
</ul>