<p><%= link_to 'Back to Trainers', trainers_path %></p>
<h1><%= @trainer.name %></h1>
<p>Age: <%= @trainer.age %></p>
<p>Gender: <%= @trainer.gender %></p>
<p>Region: <%= link_to @trainer.region.location, region_path(@trainer.region) %></p>
<h2>Owned Pokémon:</h2>
<ul>
  <% @trainer.pokemons.each do |pokemon| %>
    <li><%= link_to pokemon.name, pokemon_path(pokemon) %></li>
  <% end %>
</ul>